<div class="navbar-header">
<div class="container-fluid">
      <a class="navbar-brand" href="/">Wikinimous</a>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/articles/new">New Article</a>
        </li>
      </ul>
  </div>
<div>
</div> 

</div>